*{
  transition: all 0.5 ease;
}

body{
  background: var(--color-background);
}

nav{
  background: var(--color-secondary);
  position: relative;
  height: 500px;
  border-radius: 15px;
  display: flex;
  justify-content: center;

  .profile-container{
    display: flex;
    width: 90%;
    position: absolute;
    height: 70%;

    .bg-profile{
      width: 100%;
      height: 100%;
      border-radius: 15px;
      box-shadow: 5px 5px 10px;
    }
    
    .profile{
      position: absolute;
      bottom: -25%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 5%;

      img{
        border-radius: 50%;
        box-shadow: 5px 5px 10px;
        border: 10px solid var(--color-blue);

      }
      .text{
        margin-right: 10%;
        text-align: end;

        h1{
          font-size: 3rem;
          font-family:  cursive;
          
          span{
            color: var(--color-blue);
          }
        }
        p{
          color: var(--color-background);
          margin-top: -15%;
          font-size: 2rem;
        }
      }
    }
  }
}